a { color: #306090; }
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; transform: translate(-190%,-90%)}
.hover_img a:hover span { display:block; }
.cardtext {font-size: small}

.discipline-container {
    position: relative;
}
.discipline-button-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 27px;
    z-index: 1;
}

.discipline-base-label,
.discipline-superior-label {
    width: 38px;
    height: 31px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.discipline-button-holder:hover {
    cursor: pointer;
}
.discipline-container.state0 .discipline-superior-label {display: none;}
.discipline-container.state0 .discipline-base-label {
    display: flex;
    opacity: 0.35;
}

.discipline-container.state1 .discipline-superior-label {display: none;}
.discipline-container.state1 .discipline-base-label {display: flex;}

.discipline-container.state2 .discipline-superior-label {display: flex;}
.discipline-container.state2 .discipline-base-label {display: none;}

.virtue-base-label:hover {cursor: pointer;}
.virtue-base-label img {opacity: 0.35;}
.virtue-base-label .virtue-base:checked + img {opacity: 1;}
.virtue-base-label {
    margin-left: 4px;
    margin-right: 3px;
}

.btn-primary {
    background-color: white;
    border-color: lightgray;
}

.btn-secondary {
    background-color: white;
    border-color: lightgray;
    color: #505050;
}

.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
