.crypt-result-text {font-size: small}
.library-result-text {font-size: small}

.discipline-container {
    position: relative;
}
.discipline-button-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 39px;
    z-index: 1;
}

.discipline-base-label,
.discipline-superior-label {
    width: 42px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.discipline-button-holder:hover {
    cursor: pointer;
}
.discipline-container.state0 .discipline-superior-label {display: none;}
.discipline-container.state0 .discipline-base-label {
    display: flex;
    opacity: 0.35;
}

.discipline-container.state1 .discipline-superior-label {display: none;}
.discipline-container.state1 .discipline-base-label {display: flex;}

.discipline-container.state2 .discipline-superior-label {display: flex;}
.discipline-container.state2 .discipline-base-label {display: none;}

.virtue-base-label:hover {cursor: pointer;}
.virtue-base-label img {opacity: 0.35;}
.virtue-base-label .virtue-base:checked + img {opacity: 1;}
.virtue-base-label {
    margin-left: 4px;
    margin-right: 5px;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: transparent;
    color: darkblue;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: transparent;
    color: darkblue;
}

.btn-secondary {
    background-color: white;
    border-color: lightgray;
    color: #505050;
}

.navbar {
    padding: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar-collapse {
    background-color: #fafafa;
}

.library-result-odd,
.crypt-result-odd { background-color: #eaeaea; }

h5, .h5, h6,.h6 {
    font-weight: bold;
    color: #6060cc;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: #999;
}

.library-result-disciplines { min-width: 106px; }
.crypt-result-disciplines { max-width: 180px; }
.crypt-result-clan { max-width: 25px; }

#crypt-image { max-width: 100%; max-height: 100% }
#library-image { max-width: 100%; max-height: 100% }

.fixed-filter {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

a { color: #306090; }
.hover_c_img a { position:relative; }
.hover_c_img a span { position:absolute; display:none; left: -590px;}
.hover_c_img a:hover span { display:block; }
.hover_l_img a { position:relative; }
.hover_l_img a span { position:absolute; display:none; left: -580px;}
.hover_l_img a:hover span { display:block; }

@media (min-width: 1200px) and (max-width: 1450px) {
    .left-col {
        min-width: 300px;
    }
    .center-col {
        max-width: 580px;
    }
    .right-col {
        max-width: 320px;
    }
    .hover_c_img a span {
        left: -545px;
    }
    .hover_l_img a span {
        left: -525px;
    }
    .main-container{
        width: 100%;
        max-width: 100%;
    }
}

.info {
    background: #d0d0ea;
}

.nobr {
    white-space: nowrap;
}

#closemodalbutton {
    padding: 0;
    border: 0;
}

.modal-dialog-centered {
    justify-content: center;
}

.bootstrap-select .dropdown-menu li a {
    padding-left: 0.25em;
}
