<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="VTES Card Database">
        <title>VTES DB - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body class="bg-light">
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container justify-content-end">
                <ul class="navbar-nav flex-row">
                    {% block navbar %}{% endblock %}
                </ul>

                <button disabled="disabled" class="js-filter-btn navbar-toggler d-inline d-xl-none ml-3" type="button" data-toggle="collapse" data-target="#js-filter" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle Search">
                    <svg class="bi bi-search" width="1em" height="1.2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </nav>

        <div class="container main-container py-xl-3 px-0 px-xl-2">
            <div class="row mx-0">
                <div class="col-xs-12 col-xl-1 left-col px-0 px-xl-2">
                </div>
                <div class="col-xs-12 col-xl-7 center-col px-0 px-xl-2">
                    <div>
                        {% block content %}{% endblock %}
                        {% block total %}{% endblock %}

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <b>{{ message }}</b>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        {% block results %}{% endblock %}
                    </div>
                </div>

                <div class="col-xs-12 col-xl-4 right-col px-0 px-xl-2">
                    <div class="collapse navbar-collapse w-100 fixed-filter" id="js-filter">
                        <div class="container bg-light filter py-3 py-xl-0 px-xl-0">
                            <div class="info d-block d-xl-none mb-2">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <b>{{ message }}</b>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            {% block navsearch %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/buttons.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/cards_actions.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/lozad.min.js') }}"></script>
        <script>const observer = lozad(); observer.observe()</script>
    </body>
</html>
