<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="VTES Card Database">
        <title>VTES DB - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <a class="navbar-brand" href="/">VTES DB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    {% block navbar %}{% endblock %}
                </ul>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="row">
                <div class="col-xs-12 col-xl-3">
                </div>
                <div class="col-xs-12 col-xl-6">
                    {% block index %}{% endblock %}
                    {% block results %}{% endblock %}
                </div>
                <div class="col-xs-12 col-xl-3">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <b>{{ message }}</b>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block search %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/buttons.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/cards_actions.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/lozad.min.js') }}"></script>
        <script>const observer = lozad(); observer.observe()</script>
    </body>
</html>
