<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="VTES Card Database">
        <title>VTES DB - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container justify-content-end">
                <ul class="navbar-nav flex-row">
                    {% block navbar %}{% endblock %}
                </ul>

                <button class="navbar-toggler d-inline d-xl-none" type="button" data-toggle="collapse" data-target="#js-filter" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <div class="container main-container mt-4">
            <div class="row">
                <div class="col-xs-12 col-xl-1 left-col">
                </div>
                <div class="col-xs-12 col-xl-7 center-col">
                    {% block about %}{% endblock %}
                    <div>
                        {% block total %}{% endblock %}
                    </div>
                    <div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <b>{{ message }}</b>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div>
                        {% block results %}{% endblock %}
                    </div>
                </div>

                <div class="col-xs-12 col-xl-4 right-col">
                    <div class="collapse navbar-collapse w-100 fixed-filter" id="js-filter">
                        <div class="container bg-light py-4 filter  px-xl-0">
                            {% block navsearch %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/buttons.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/cards_actions.js') }}"></script>
        <script src="{{ url_for('static', filename ='js/lozad.min.js') }}"></script>
        <script>const observer = lozad(); observer.observe()</script>
    </body>
</html>
