<!doctype html>
{% extends 'base.html' %}

{% block title %} Crypt {% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link px-2" href="{{ url_for('index') }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link px-2" href="{{ url_for('decks') }}">Decks</a>
</li>
<li class="nav-item active">
    <a class="nav-link px-2" href="{{ url_for('crypt') }}">Crypt</a>
</li>
<li class="nav-item">
    <a class="nav-link pl-2" href="{{ url_for('library') }}">Library</a>
</li>
{% endblock %}

{% block total %}

{% if total %}
<div class="info d-flex align-items-center justify-content-between flex-nowrap">
    <div class="d-flex pl-1" style="min-width: 100px">
        TOTAL: {{ total.pop(0) }} &nbsp;
    </div>
    <div>
        {% for group in total %}
        <span class="nobr">
            <font color="#8080aa"><b>G{{ group[0] }}:</b></font>{{group[1] }} &nbsp;
        </span>
        {% endfor %}
    </div>
    <div>
        <button id="toggle-crypt-text" value="Toggle Text" onclick="toggleTextCrypt()"  class="btn btn-outline-secondary mr-3" type="button">
            <svg class="bi bi-justify-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            </svg>
        </button>
    </div>
</div>
<input class="result-state" type="hidden" name="result-state" value="result"/>
{% else %}
<input class="result-state" type="hidden" name="result-state" value="noresult"/>
{% endif %}

{% endblock %}

{% block results %}

<div>
    <table width="100%" class="result-table">
        <!-- {% if cards %}
             <tr>
             <td class="cards pl-1" width=6%>
             </td>
             <td width=37%>
             </td>
             <td width=41%>
             </td>
             <td width=10% align="center">
             </td>
             <td class="cards pr-1" width=6%">
             </td>
             </tr>
             {% endif %} -->
        {% for card in cards %}
        <tr class="crypt-result-{{ loop.cycle('odd', 'even') }}">
            <!-- <td class="cards pl-1" style="max-width: 6%"> -->
            <td class="cards pl-1" width=6%>
                <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                    <img src="static/img/misc/cap{{ card['Capacity'] }}.png" height="23" alt="{{ card['Capacity'] }}">
                </div>
            </td>
            <!-- <td style="max-width: 37%"> -->
            <td width=37%>
                <div class="crypt-result-disciplines d-flex" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                    <div class="crypt-result-disciplines d-flex" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                        {% for dis in card['Discipline'] %}
                        {% if dis[0] != '-none-' %}
                        <div style='width: 27px; text-align: center'>
                            <img src="static/img/disciplines/{{ dis[0] }}.gif" height="{{ dis[1] }}" alt="{{ dis }}" />
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            <!-- <td style="max-width: 41%"> -->
            <td width=41%>
                <div class="crypt-result-name d-flex" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">

                    <span class="d-inline d-sm-none">
                        <a href="javascript: void(0);" data-toggle="modal" data-target="#crypt-modal-{{ card['Id'] }}">
                            {{ card['Name'] }}
                        </a>
                    </span>

                    <div class="modal" id="crypt-modal-{{ card['Id'] }}" tabindex="-1" role="dialog" aria-labelledby="crypt-modal-label-{{ card['Id'] }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <button type="image" id="closemodalbutton" class="btn btn-secondary" data-dismiss="modal">
                                <img class="lozad" data-src="{{ 'static/img/cards/'+ card['URL Name'] + '.jpg' }}" alt="" id="crypt-image" />
                            </button>
                        </div>
                    </div>

                    <span class="hover_c_img d-none d-sm-inline">
                        <a href="{{ 'static/img/cards/' + card['URL Name'] + '.jpg' }}" class="js-cardname">
                            {{ card['Name'] }}
                            <span class="js-cardimage">
                                <img class="lozad" data-src="{{ 'static/img/cards/'+ card['URL Name'] + '.jpg' }}" alt="" height="400" />
                            </span>
                        </a>
                    </span>
                </div>

            </td>
            <!-- <td style="max-width: 10%" align="center"> -->
            <td width=10% align="center">
                <div class="crypt-result-clan" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                    <img src="static/img/clans/{{ card['URL Clan'] }}.gif" height="26" alt="{{ card['Clan'] }}">
                </div>
            </td>
            <!-- <td class="cards pr-1" style="max-width: 6%"> -->
            <td class="cards pr-1" width=6%">
                <div class="crypt-result-group" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                    <b><font color="a0a0a0">G</font>{{ card['Group'] }}</b>
                </div>
            </td>
        </tr>
        <tr class="crypt-result-{{ loop.cycle('odd', 'even') }}">
            <td>
            </td>
            <td>
            </td>
            <td colspan="3">
                <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                    <div class="crypt-result-text" id="2{{ card['Id'] }}" style="display:none;">
                        {% if card['Type'] == 'Vampire' %}
                        <b>{{ card['Card Text'].pop(0) }}</b><br>
                        {% endif %}
                        {% for i in card['Card Text'] %}
                        {{ i }}<br>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block navsearch %}
<form id="cryptsearchform" action="" method="post" novalidate>

    <div class="form-row justify-content-between">
        <div class="col-8">
            <input type="text" class="form-control" id="cardtext" name="cardtext" placeholder="Card Name / Text" value="">
        </div>
        <div class="pr-1">
            <button id="search_submit" name="search_submit" class="btn btn-outline-primary" type="submit">
                <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                </svg>
            </button>
            <button id="clear-crypt" value="Clear" onclick="clearCrypt()"  class="btn btn-outline-secondary" type="button">
                <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="form-row pt-2">
        <div class="input-group justify-content-start">
            {{ searchform.disciplines() }}
        </div>
    </div>

    <div class="form-row">
        <div class="input-group">
            {{ searchform.virtues() }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3 d-flex align-items-center">
            <label class="h6 mb-0">Capacity:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ searchform.capacitymoreless() }}
                {{ searchform.capacity() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3 d-flex align-items-center">
            <label class="h6 mb-0">Clan:</label>
        </div>
        <div class="form-group col-9">
            {{ searchform.clan() }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3 d-flex align-items-center">
            <label class="h6 mb-0">Sect:</label>
        </div>
        <div class="form-group col-9">
            {{ searchform.sect() }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3 d-flex align-items-center">
            <label class="h6 mb-0">Votes:</label>
        </div>
        <div class="form-group col-9">
            {{ searchform.votes() }}
        </div>
    </div>

    <div class="form-row">
        {{ searchform.titles() }}
    </div>

    <div class="form-row justify-content-between">
        <div class="col-2">
            <h6>Group:</h6>
        </div>
        {{ searchform.group() }}
    </div>

    <h6>Traits:</h6>
    <div class="form-row">
        {{ searchform.trait() }}
    </div>

</form>
<br>
{% endblock %}
