<!doctype html>
{% extends 'base.html' %}

{% block title %}
    Crypt
{% endblock %}

{% block page%}
    Crypt
{% endblock %}

{% block search %}
    <form action="" method="post" novalidate>
        <b> NAME / TEXT: </b>
        {{ form.cardtext() }}
        <b> DISCIPLINES: </b>
        {{ form.disciplines() }}
        <b> CAPACITY: </b>
        {{ form.capacitymoreless() }}
        {{ form.capacity() }}
        <b> CLAN: </b>
        {{ form.clan() }}
        <b> SECT: </b>
        {{ form.sect() }}
        <b> VOTES: </b>
        {{ form.votes() }}
        <b> TITLE: </b>
        {{ form.titles() }}
        <b> GROUP: </b>
        {{ form.group() }}
        <b> TEXT TRAITS: </b>
        {{ form.trait() }}

        {{ form.submit() }}
    </form>
{% endblock %}

{% if debug %}
    {% block debug %}
        <div class="total"><b>DEBUG: {{ debug }}</b></div>
    {% endblock %}
{% endif %}

{% block results %}

    {% if total %}
        <div id="total" class="total"><b>TOTAL: {{ total.pop(0) }}<br>

            {% for type in total %}
            G{{ type[0] }}: {{type[1] }}
            {% endfor %}

        </b></div>
        <input type="button" value="show all text" onclick="showAll()" />
        <br>
    {% endif %}


    {% for card in cards %}

    <div class="cards">


        <img src="static/img/misc/cap{{ card['Capacity'] }}.png" height="26" alt="{{ card['Capacity'] }}">

        {% for dis in card['Discipline'] %}
            <img src="static/img/disciplines/{{ dis[0] }}.gif" height="{{ dis[1] }}" alt="{{ dis }}" />
        {% endfor %}

        <a href="{{ 'static/img/cards/' + card['URL Name'] + '.jpg' }}"> {{ card['Name'] }} </a>

        <img src="static/img/clans/{{ card['URL Clan'] }}.gif" height="26" alt="{{ card['Clan'] }}">

        <b>G:{{ card['Group'] }}</b>

        <input type="button" value="text" onclick="showCard(1{{ card['Id']}})" />
        <input type="button" value="img" onclick="showCard(2{{ card['Id']}})" />
        <div class="cardtext" id="1{{ card['Id'] }}" style="display:none;"> {{ card['Card Text'] }} </div>
        <div id="2{{ card['Id'] }}" style="display:none;"><img class="lozad" data-src="{{ 'static/img/cards/' + card['URL Name'] + '.jpg' }}" height="500"></div>
    </div>
{% endfor %}
    <script>document.getElementById('total').scrollIntoView();</script>
{% endblock %}
