<!doctype html>
{% extends 'base.html' %}


{% block title %} Decks {% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link px-2" href="{{ url_for('index') }}">About</a>
</li>
<li class="nav-item active">
    <a class="nav-link px-2" href="{{ url_for('decks') }}">Decks</a>
</li>
<li class="nav-item">
    <a class="nav-link px-2" href="{{ url_for('crypt') }}">Crypt</a>
</li>
<li class="nav-item">
    <a class="nav-link pl-2" href="{{ url_for('library') }}">Library</a>
</li>
{% endblock %}

{% block content %}
<div>
    {% for card in cards %}
    {{ card[1] }}x {{ card[0] }}<br>
    {% endfor %}
</div>
{% endblock %}

{% block navsearch %}
<div class="m-3">
    <div class="d-flex">
        <div class="d-flex justify-content-center info col-10">
            <b> {{ current_user.username }}</b>
        </div>
        <div class="d-flex justify-content-right col-2">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
    <div class="mt-2">
        <form action="" method="post">
            {{ deckselectform.deckname }}
            {{ deckselectform.submit() }}
        </form>
    </div>
</div>
{% endblock %}
