<!doctype html>
{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block navbar %}
<li class="nav-item active">
    <a class="nav-link px-2" href="{{ url_for('search.index') }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link px-2" href="{{ url_for('search.crypt') }}">Crypt</a>
</li>
<li class="nav-item">
    <a class="nav-link px-2 pr-xl-2" href="{{ url_for('search.library') }}">Library</a>
</li>
{% endblock %}

{% block index %}
<h5>WHAT IS IT</h5>
<p>Card search utility for Vampire the Eternal Struggle (VTES) collectible card game.<br/>
    It is designed for mobile and desktop resolutions.<br/>

</p>
<p>Find more about the game:
    <br>
    <a href="http://www.vekn.net/">Vampire: Elder Kindred Network</a> - official players organization
    <br/>
    <a href="http://www.blackchantry.com/">Black Chantry Productions</a> - VTES publisher
</p>

<h5>WHY</h5>
<p>Because being active VTES player I want to have the tool at my disposal with clean interface and corresponding to my flow in card search.</p>
<p>There are several great tools around, but I was not completely happy with any of it - this one is not an exception (that is why it is still evolving).</p>

<h5>RELATED PROJECTS</h5>
<p><b>Secret Library</b><br/>
    Now resting in peace, but probably inspired most of existing projects - this one is not an exception.</p>

<p><a href="https://amaranth.vtes.co.nz/"><b>Amaranth</b></a><br>
    Great tool with modern design, more features like Deck Building, etc. You should definetely check it out!<br>
    This project use many ideas from Amaranth.</p>

<p><a href="https://play.google.com/store/apps/details?id=name.vampidroid"><b>VampiDroid</b></a><br>
    Android client. Fast and clean, though limited in some features. Great when you play in the basement with no internet connection and want to just fast check a card.<br/>
    Also available in F-Droid store.</p>

<h5>LICENSE</h5>
<p>Source code of the service is available under <a href="https://en.wikipedia.org/wiki/MIT_License">MIT license</a>.</p>
<p>Please note, that repository and this site contains images (cards, icons), which are copyrighted by Authors / Publishers under other licenses (please consider as <b>not</b> free/public).</p>
<p>These images included into site/repository for the convenience of players and development. I assume it will not be used for anythig other than deck-building or development of deck-building software, and I hope there won't be any claims from the copyright owners.</p>

<h5>FOR DEVELOPERS</h5>
<p>Development happens in <a href="https://github.com/smeea/vtes-db">this Github repository</a><br/>
    It is tested on Firefox (Windows/Linux/Android), but will probably work on other modern browsers/systems like Chrome/Safari/Edge as well.<br/>
    You can submit bug reports in <a href="https://github.com/smeea/vtes-db/issues">Issues section</a>.</p>

<h5>DONATIONS</h5>
<p>You can buy me a beer with BTC: 3ALLfiv3AWcm7WzgWm9gHmLAAUMRcegBtP</p>

{% endblock %}
