<!doctype html>
{% extends 'base.html' %}

{% block title %} Library {% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('search.index') }}">Index</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('search.crypt') }}">Crypt</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('search.library') }}">Library</a>
</li>
{% endblock %}

{% block results %}
{% if total %}
<div id="total" class="total"><b>
    TOTAL: {{ total.pop(0) }} &nbsp;
    {% for type in total %}
    <img src="static/img/types/{{ type[0] }}.gif" height="26" alt="{{ type[0] }}">{{type[1]}} &nbsp;
    {% endfor %}
</b></div>
<input type="button" value="Show Text" onclick="showAll()" />
{% endif %}

<table width="100%">
    {% for card in cards %}
    <tr>
        <td width="5%">
            <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                {% if card['Pool Cost'] %}
                <img src="static/img/misc/pool{{ card['Pool Cost'] }}.png" height="36" alt="{{ card['Pool Cost'] }}">
                {% elif card['Blood Cost'] %}
                <img src="static/img/misc/blood{{ card['Blood Cost'] }}.png" height="36" alt="{{ card['Blood Cost'] }}">
                {% else %}
                &nbsp;
                {% endif %}
            </div>
        </td>
        <td width="12%">
            <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                {% for type in card['URL Type'] %}
                <img src="static/img/types/{{ type }}.gif" height="26" alt="{{ card['Type'] }}">
                {% endfor %}
            </div>
        </td>
        <td width="13%">
            <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                {% if card['URL Discipline'] %}
                {% for discipline in card['URL Discipline'] %}
                <img src="static/img/disciplines/{{ discipline }}.gif" height="24" alt="{{ discipline }}" />
                {% endfor %}
                {% else %}
                &nbsp;
                {% endif %}
            </div>
        </td>
        <td width="10%" align="center">
            <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                {% if card['URL Clan'] %}
                {% for clan in card['URL Clan'] %}
                <img src="static/img/clans/{{ clan }}.gif" height="26" alt="{{ clan }}">
                {% endfor %}
                {% else %}
                &nbsp;
                {% endif %}
            </div>
        </td>
        <td width="59%">
            <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                <span class="hover_l_img">
                    <a href="{{ 'static/img/cards/' + card['URL Name'] + '.jpg' }}">
                        {{ card['Name'] }}
                        <span>
                            <img class="lozad" data-src="{{ 'static/img/cards/'+ card['URL Name'] + '.jpg' }}" alt="" height="400" />
                        </span>
                    </a>
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: thin dashed; border-color: gray">
        </td>
        <td style="border-bottom: thin dashed; border-color: gray">
        </td>
        <td style="border-bottom: thin dashed; border-color: gray">
        </td>
        <td style="border-bottom: thin dashed; border-color: gray">
        </td>
        <td colspan="2" style="border-bottom: thin dashed; border-color: gray">
            <div class="cards" id="1{{ card['Id'] }}" onclick="cardShowText(1{{ card['Id'] }}, 2{{ card['Id'] }})">
                <div class="cardtext" id="2{{ card['Id'] }}" style="display:none;">
                    {% if card['Card Title Text'] %}
                    <b>{{ card['Card Title Text'] }}</b><br>
                    {% endif %}
                    {% for i in card['Card Other Text'] %}
                    {{ i }}<br>
                    {% endfor %}
                    {% if card['Card Middle Text'] %}
                        {% for i in card['Card Middle Text'] %}
                        {% if i[2] %}
                        <b> <img src="static/img/disciplines/{{ i[0] }}.gif" height="20" alt="{{ i[0] }}"> </b>
                        <b> <img src="static/img/disciplines/{{ i[1] }}.gif" height="20" alt="{{ i[1] }}"> </b> {{ i[2] }}<br>
                        {% else %}
                        <b> <img src="static/img/disciplines/{{ i[0] }}.gif" height="20" alt="{{ i[0] }}"> </b> {{ i[1] }}<br>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block search %}
<form id="librarysearchform" action="" method="post" novalidate>
    <div class="form-row">
        <div class="form-group w-100">
            <input type="text" class="form-control w-100" id="cardtext" name="cardtext" placeholder="Card Name / Text" value="">
        </div>
        <div class="form-group">
            <button id="submit" name="submit" class="btn btn-primary" type="submit">Search</button>
            <button id="clear-library" value="Clear" onclick="clearLibrary()"  class="btn btn-secondary" type="button">Clear</button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Type:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.cardtype() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Discipline:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.discipline() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Clan:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.clan() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Sect:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.sect() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Title:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.title() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Blood Cost:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.bloodmoreless() }}
                {{ form.blood() }}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="h6">Pool Cost:</label>
        </div>
        <div class="form-group col-9">
            <div class="input-group">
                {{ form.poolmoreless() }}
                {{ form.pool() }}
            </div>
        </div>
    </div>

    <h6>Traits:</h6>
    <div class="form-row small">
        {{ form.trait() }}
    </div>

</form>
{% endblock %}
